.contacto form{
    width: 300px;
}
.input{
    font-family: $fontsecondary;
    font-size: 1.2rem;
    font-weight: 300;
    & input:focus{
        outline: 3px solid $rosa;
    }
    & textarea:focus{
        outline: 3px solid $rosa;
    }
}
input, textarea{
    background: $cremita;
    border-radius: 15px;
    border-style: none;
    margin: 5px 0;
}
input{
    padding: 10px 0;
}
.btn-contacto button{
    font-family: $fontsecondary;
    font-size: 1rem;
    border-radius: 10px;
    border-style: none;
    background: $amarillo;
    padding: 8px;
    margin-top: 5px;
    &:hover{
        cursor: pointer;
    }
}
