.hero{
    background-color: $amarillo;
    & img{
        width: 150px;
    }
}
#navbarNav .nav-link{
    color: $rosa;
    font-family: $fontmain;
    font-size: larger;
    &:hover{
        color: $celeste;
        transition: 0.8s;
    }
}

