.subtitulo{
    font-family: $fontmain;
}
.subtitulo1{
    font-family: $fontmain;
    color: $rosa;
}
.subtitulo2{
    font-family: $fontmain;
    color: $celeste;
}
.subtitulo3{
    font-family:$fontmain;
    color: $cremita;
}
p, li{
    font-family: $fontsecondary;
    font-size: 1.2rem;
}